[package]
name = "js_testing"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
deno_core = "0.214.0"
tokio = "1.32.0"

[dev-dependencies]
version-sync = "0.9.4"
cargo-readme = "3.2.0"
